.search-container{
    display:flex;
    justify-content: center;
    margin: 10px;
    position:sticky;
    top: 0px;
}
input{
    height: 2.5rem;
    width: 15rem;
    border-radius: 10rem 0rem 0rem 10rem;
    border:none;
    outline: none;
    font-size: smaller;
    padding-left: 10px;
    margin: 0;
}
button{
    height:2.5rem;
    border-radius: 0rem 10rem 10rem 0rem;
    border:none;
    background-color:rgb(255, 30, 0);
    opacity: 0.7;
    color: rgb(255, 235, 209);
    margin: 0;
}
button:hover{
    opacity: 1;
    cursor: pointer;
}