.main-container{
    margin:auto;
    height: 35rem;
    width: 80%;
    background-color: aliceblue;
    position:relative;
    align-items: center;
    border-radius: 6rem;
}
.img-container{
    align-items: center;
    justify-content: center;
}
img{
    display:block;
    margin:auto;
    height: 60%;
    max-width: 70%;
    border-radius: 5rem;
}
.name_fav{
    display: flex;
    justify-content: space-between;
}
.name{
    font-size: 2rem;
    font-weight: bold;
}
.favorite{
    color:crimson;
    font-size: 1.5rem;
}
.favorite.not{
    color:lightgray;
}
.origin-cont{
    margin: 1rem 0;
}
.origin-cont span{
    padding: 0.5rem;
    font-size: 1.2rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    background-color: antiquewhite;
    border-radius: 10rem;
}
.rating{
    margin: 1rem 0;
    padding: 0;
}
.tags-cont{
    margin-top: 2rem;
}
.tags-cont a{
    background-color: #f0f0f0;
    font-weight: 600;
    color:rgb(0, 125, 203);
    padding: 0.3rem 1rem;
    margin: 0.2rem 0.3rem 0 0;
    border-radius: 10rem;
}

.cook-time{
    margin-top: 0.6rem;
}

.cook-time span{
    padding: 0.6rem 0.6rem 0.6rem 0;
    border-radius: 10rem;
    font-size: 1.3rem;
}

.pricetag{
    font-size: 1.8rem;
    font-weight: 200;
    margin: 1rem 1rem 1rem 0;
    color:green;
}

.pricetag::before{
    content:"Price: ";
    color:darkgrey;
}
 button{
    color:white;
    background-color: crimson;
    border: none;
    font-size: 1.2rem;
    padding:1rem;
    border-radius: 10rem;
    outline: none;
    opacity: 0.8;
    width:100%;
 }

 button:hover{
    opacity:1;
    box-shadow: 0px 0px 5px black;
    transition-duration: 0.1s;
 }
 button:active{
    box-shadow: none;
 }
