/* You can add global styles to this file, and also import other style files */

body{
    overflow-x: hidden;
    margin: 0px;
    background-color:rgb(255, 223, 223);
}
*{
    box-sizing: border-box;
}
html{
    font-size: 14px;
}
html, button{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-small;
}
a{
    text-decoration: none;
}