<header>
        <div class="header-logo">
            <a routerLink="/">Foodzie</a>
        </div>
        <div class="header-content">
            <ul>
                <li><a>Login</a></li>
                
                <li class="menu-container">
                    <a>Ayush</a>
                    <div class="menu">
                     <a>Profile</a>
                     <a>Orders</a>
                     <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a>Cart <span>10</span></a>
                </li>
            </ul>
        </div> 
</header>
