<div class="main-container">
<div class='form-container'>
    <h3>Login</h3>
    <form [formGroup]="LoginForm" (ngSubmit)="submit()">
        
        <div class="email-input">
            <text-input 
            label="Email"
            [control]="logcontrol.email"
            placeHolder="Enter your Email"
            [showError]="Submitted"
            type="email"
            >
            </text-input>
        </div>     
        
        <div class="password-input">
            <text-input 
            label="Password"
            [control]="logcontrol.password"
            placeHolder="Enter your password"
            [showError]="Submitted"
            type="password"
            >
            </text-input>
        </div>
        

        <button class="button-input"
          [disabled]="(logcontrol.email.errors && Submitted) || (logcontrol.password.errors && Submitted)" 
          type="submit">
             Login
        </button>
        <div class="goToSignUp">
            Don't have any account? <br>Then register at
            <a routerLink="/register">Sign Up</a>
        </div>
    </form>
</div> 
</div>