<div class="main-container">
<div class='form-container'>
    <h3>Login</h3>
    <form [formGroup]="LoginForm" (ngSubmit)="submit()">
        <div class="email-input">
            <label>Email</label>
        <input type="email" class="is-invalid form-control" 
        [class.is-invalid]="logcontrol.email.errors && Submitted" 
        placeholder="Enter you Email" formControlName="email">
            <div *ngIf="logcontrol.email.errors && Submitted">
                <small class="text-danger" *ngIf="logcontrol.email.errors.email">
                     Enter valid Email
                </small>
                <small class="text-danger" *ngIf="logcontrol.email.errors.required">
                    Email is required
                </small>
            </div>
        </div>
        
        <div class="password-input">
            <label>Password</label>
        <input type="password" class="is-invalid form-control" 
        [class.is-invalid]="logcontrol.password.errors && Submitted" 
        placeholder="Enter password" formControlName="password">
         <div *ngIf="logcontrol.password.errors && Submitted">
            <small class="text-danger" *ngIf="logcontrol.password.errors.required">
                Password is required
            </small>
          </div>
        </div>
        

        <button class="button-input"
          [disabled]="(logcontrol.email.errors && Submitted) || (logcontrol.password.errors && Submitted)" 
          type="submit">
             Login
        </button>
        <div class="goToSignUp">
            Don't have any account? <br>Then register at
            <a routerLink="/register">Sign Up</a>
        </div>
    </form>
</div> 
</div>